spring:
  application:
    name: metatrack-server
  threads:
    virtual:
      enabled: true
  datasource:
    url: jdbc:postgresql://localhost:5432/postgres
    username: postgres
    password: postgres
  jpa:
    hibernate:
      ddl-auto: update
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://localhost:8090/realms/metatrack

minio:
  url: http://localhost:9000
  accessKey: admin
  secretKey: Password123
  webhook:
    secret-key: some-secret-key
